.whatsapp-button {
    position: fixed;
    width: 82px;
    height: 82px;
    bottom: 26px;
    right: 28px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    z-index: 1000;
    background-color: #202020;
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-icon {
    width: 58px !important;
    height: 58px !important;
    color: #fff;
}

/* Animación de brillo */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #25D366;
    }
    50% {
        box-shadow: 0 0 20px #25D366, 0 0 30px #25D366;
    }
    100% {
        box-shadow: 0 0 5px #25D366;
    }
}

@media screen and (max-width: 700px) {
    .whatsapp-button{
        width: 58px;
        height: 58px;
        right: 18px;
        bottom: 18px;
    }

    .whatsapp-icon {
        width: 40px !important;
        height: 40px !important;
    }
}
