.contModal{
    width: 1000px;
    height: 600px;
    position: relative;
    top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.cont-btn-cierra-modal{
    width: 70px;
    position: relative;
    top: 30px;
    left: 0;
    z-index: 1;
}
.btn-close-modal{
    border-radius: 50%;
    border: none;
    width: auto;
    height: auto;
    color: var(--primary-color);
    background-color: var(--color-negro-logo);
    cursor: pointer;
    font-size: 20px;
}

/* responsive */
@media screen and (max-width: 800px){
    .contModal{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 95vh;
    }
    
}