.formulario-contacto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--color-negro);
}
.cont-logo-titulo-form {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-titulo-formulario{
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-formulario {
    color: var(--color-blanco);
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.cont-logo-formaulario {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-formulario {
    height: 3.5rem;
    border-radius: 10px;
}
.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 90%;
    margin-top: 20px;
}
.form__field {
    width: 100%;
    font-family: inherit;    
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #f7f7f7;
    outline: 0;
    font-size: 17px;
    color: var(--color-blanco);
    padding: 7px 0;
    background: rgb(114, 113, 113);
    transition: border-color 0.2s;
    margin-top: 4px;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: var(--color-blanco);
    pointer-events: none;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #fdfefd, #4a494a);
    border-image-slice: 1;
}
.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: var(--color-blanco);
    font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}
.textarea-form-contacto{
    overflow: hidden; /* Evita el scroll */
    resize: none;     /* Evita que el usuario cambie el tamaño manualmente */
    min-height: 50px; /* Altura mínima para que no colapse el área de texto */
    width: 100%; 
    font-size: 18px;
}
.btn-enviar-contacto{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
}
.btn-form,
.btn-form-whatsApp {
    width: 250px;
    height: auto;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-blanco);
    background-color: var(--color-negro-logo);
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .formulario-contacto {
        width: 100%;
    }
    .cont-logo-titulo-form {
        width: 100%;
        height: 50px;
        margin-top: 5px;
    }
    .logo-formulario {
        height: 3.5rem;
        border-radius: 10px;
    }
    .titulo-formulario {
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    .formulario-contacto {
        width: 100%;
    }
    .cont-logo-titulo-form {
        width: 100%;
        height: 50px;
        margin-top: 5px;
    }
    .logo-formulario {
        height: 3.5rem;
        border-radius: 10px;
    }
    .titulo-formulario {
        font-size: 15px;
    }
}